<%- include('./templates/header.ejs') -%>
    <h1>Testing here</h1>
    <form action="/elements/23" method="POST">
        <button type="submit"> Submit </button>
    </form>
    <%- include('./templates/footer.ejs') -%>
